<div>
    <Button [routerLink]="['']" class="btn btn-light m-3">Back</Button>
    <div class="row align-items-center">
        <div class="col-sm-12 m-1">
            <div class="h5">Please enter the details for the hotels rooms</div>
        </div>
    </div>
    <form [formGroup]="roomsForm" (ngSubmit)="onSubmit(roomsForm.value)">
        <div class="row">
            <input type="text" placeholder="Business Rooms" formControlName="businessRooms"
                class="form-control col-3 m-3">
            <input type="text" placeholder="Economy Rooms" formControlName="economyRooms"
                class="form-control col-3 m-3">
        </div>
        <Button type="submit" class="btn btn-primary ml-5">Save</Button>
    </form>
</div>
<div class="row">
    <div class="col-3 m-4 p-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Room type</th>
                    <th scope="col">Available rooms</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Business</th>
                    <td>{{this.availableBusinessRooms}}</td>
                </tr>
                <tr>
                    <th scope="row">Economy</th>
                    <td>{{this.availableEconomyRooms}}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="performAllocations()" class="btn float-right btn-secondary mb-3 ml-2">Perform allocations</button>
        <div *ngIf="hotel" class="m-5">
            <table class="table table-bordered">
                <thead scope="col" class="h4 mt-3">Allocations</thead>
                <thead>
                    <tr>
                        <th scope="col">Room type</th>
                        <th scope="col">Allocated rooms</th>
                        <th scope="col">revenue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Business</th>
                        <td scope="col">{{hotel.allocatedBusinessRooms}}</td>
                    <td scope="col"> {{hotel.businessRoomsRevenue}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Economy</th>
                        <td scope="col">{{hotel.allocatedEconomyRooms}}</td>
                    <td scope="col"> {{hotel.economyRoomsRevenue}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="h6">
            Available customers to be allocated to rooms
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Price Input</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers; index as i">
                    <th scope="row">{{i+1}} {{customer.allocatedRoom}}</th>
                    <td>{{customer.priceOffer}}
                        <button class="btn btn-sm float-right btn-danger">X</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>