<div class="jumbotron">
    <h1 class="display-6">Welcome!</h1>
    <p class="lead">Room management service</p>
    <hr class="my-4">
    <p>Please click below to enter your hotels server.</p>
    <a [routerLink]="['/calc']" class="btn btn-primary btn-lg" href="#" role="button">Start</a>
</div>